<html>
    <head>
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/roboto.css">
        <link rel="stylesheet" href="/css/gogo.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Your library</h1>
        <div id="list" style="height: 100%;width: 100%;"></div>
    </body>
    <script>
        document.getElementById("list").innerHTML = decodeURIComponent("{{videolist}}")
    </script>
</html>