<html>
    <head>
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/roboto.css">
        <!-- <link rel="stylesheet" href="/css/gogo.css"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>
    <body>
        <a href="/settings"><i class="fa fa-gear" style="font-size:36px;"></i></a>
        <h1>OFFSTREAM</h1>
        <div class="container">
        <h1>My Movies</h1>
        <div id="movielist" style="height: 70%;width: 100%;"></div>
        <h1>My Library</h1>
        <div id="list" style="height: 100%;width: 100%;"></div>
        </div>
    </body>
    <script>
        document.getElementById("movielist").innerHTML = decodeURIComponent("{{movielist}}")
        document.getElementById("list").innerHTML = decodeURIComponent("{{videolist}}")
    </script>
</html>
