<html>
    <head>
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/roboto.css">
        <!-- <link rel="stylesheet" href="/css/gogo.css"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>
    <body>
        <a href="/"><i class="fa fa-arrow-circle-left" style="font-size:36px;"></i></a>
        <h1>Options</h1>
        <div class="container">
          <div class="box-1">
            <h2>General:</h2>
            <p>Version: <strong>{{ver}}</strong></p>
            <p>Python Version: <strong>{{pipver}}</strong></p>
            <p>Offstream IP address: <strong>{{ipv4}}</strong></p>
            <p>Library folder: <strong>{{libdir}}</strong></p>
            <br>
            <h2>Account:</h2>
            <a href="/account">Change</a>
            <p>Username: <strong>{{username}}</strong></p>
            <p>Password: <strong>**** (hidden) <a href="/account">Change</a></strong></p>

          </div>

        </div>
    </body>
</html>
